* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #f5d04e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 30%;
  height: 500px;
  background-color: white;
  border-radius: 25px;
  border: 1px solid black;
  box-shadow: 15px 15px black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card img {
  width: 90%;
  height: auto;
  border-radius: 10px;
}

.author {
  width: 90%;
  height: 50px;
  border: 2px solid red;
  align-self: center;
}

.description {
  height: 50%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
